html {
    height: 100%;
}

body {
    background: url(../../media/library.jpg) no-repeat center center fixed ;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: "Roboto Mono", monospace;
}

#dark-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 33, 94, 0.8); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* color of the magnifying glass in the searchbar */
.search-icon {
    color:#FC4100;
}
/* Button in the search bar */
button.form-control.btn.btn-black.border.border-black.rounded-0 {
    background-color: #00215E;
}
/* border around the header */ 
div#topnav {
    border: 1px solid #FFC55A;
}

.shop-now-button {
    background: #FC4100;
    color: white;
    min-width: 260px;
    color: #00215E;
    border: 5px solid #FFC55A;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background:  #2C4E80;
    color: #FC4100;
    border: 2px solid #FC4100;
    font-size: larger;
}

.bg-orange { 
    background-color: #FC4100;
}

.text-blue {
    color: #00215E;
}

.text-orange {
    color:#FC4100 !important;
}

.text-cream {
    color: #FFC55A !important;
}

.logo-font {
    text-transform: uppercase;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

header a {
    text-decoration: none
}

header * {
    color: #00215E;
}

.main-logo-link {
    width: fit-content;
}

#secondary-navbar { 
    background-color: #FFC55A; 
}

main-nav {
    color:#00215E;
}

.text-dark-blue {
    color:#00215E !important;
}

.dropdown-menu.border-0.show {
    background-color: #FFC55A ;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #00215E;
    z-index: -1;
}

.page-divider {
    border-color: #FC4100;
    height: 5px;
}

.genre {
    background-color: #FC4100;
    color:#00215E;
    padding: 0.5rem 1rem;
    border-radius: 8px ;
    border: 1px solid #00215E;
  }

/*-------------------------------------------- MEDIA QUERIES */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding for collapsed navbar on mobile */
@media (max-width: 991px) {
    .header-container { 
        padding-top:116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}